@use "../../libs/normalize.css/normalize";

@use "common";
@use "components/header";
@use "components/skills";
@use "components/about";

@media (min-height: 601px) {
  .skills__container {
    grid-auto-rows: calc(33.333vh - 13.3333333333px);
  }
}

@media (max-height: 600px) {
  .skills__container {
    grid-auto-rows: calc(200px - 13.3333333333px);
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }

  .header-content__title {
    margin: 0 0 53px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .header-content__title {
    margin: 0 0 43px;
  }
}

@media (max-width: 767.8x) {
  h1 {
    font-size: 30px;
  }

  .header-content__title {
    margin: 0 0 33px;
  }
}