@use "../../presets" as *;
@use "../../mixins" as *;

.skill-item {
  position: relative;

  &__title {
    z-index: 1;

    margin: 0;

    letter-spacing: 0.1em;

    @include abs-position;
    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $gap;

    @include abs-position;
  }

  &__image {
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include abs-position;
  }

  &__overlay {
    background-color: rgba($color-primary, 0.8);

    @include abs-position;
  }
}

$count: 9;

@for $i from 1 through $count {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
